<script>
var player_arr = ["Antonio Brown","Julio Jones"]
var lock = false;

Array.prototype.remove= function(){
    var what, a= arguments, L= a.length, ax;
    while(L && this.length){
        what= a[--L];
        while((ax= this.indexOf(what))!= -1){
            this.splice(ax, 1);
        }
    }
    return this;
}



function changeToYear(){
	$("#career-button").removeClass("btn-info");
	$("#career-button").addClass("btn-default");

	$("#year-button").removeClass("btn-default");
	$("#year-button").addClass("btn-info");

	$("#year-select").show()

	changeChart();

}

function changeToCareer(){
	$("#career-button").removeClass("btn-default");
	$("#career-button").addClass("btn-info");

	$("#year-button").removeClass("btn-info");
	$("#year-button").addClass("btn-default");

	$("#year-select").hide()
	changeChart();

}

function isEven(num){
	if(num % 2 ==0)
		return true;
	return false;
}

function addPlayer(){
	var rowClass;
	var playerName;
	var numPlayers = $('.player-row').length;

	playerName = $("#player-add").val();



		$.ajax({
		             type: 'POST',
		             beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
		             url: 'json_player_name',
		             data: {
		                "player_name": playerName
		             },
		             success:function(data) {
		             	playerName = data["name"];
		             	if (playerName=="" || player_arr.includes(playerName))
		             	{
		             		//alert("yes");
		             		$("#player-add").val("");
		             		return;
		             	}	
		             	else{
		             		$("#player-add").val("");
		             		$("#player-add").blur();

		             		player_arr.push(playerName);
		             		if(isEven(numPlayers))
							rowClass="even-player-row"
							else
								rowClass="odd-player-row"

							$("#player-rows").append(
									"<div id=\"player-row-"+ numPlayers +"\" class=\"player-row "+ rowClass +"\"> <span class=\"graphed-player\">" + playerName + "<\/span> <a class=\"btn btn-ex\"> <i class=\"fa fa-times fa-2x ex-button\"><\/i><\/a><\/div>"

								);

							 $("#player-row-"+ numPlayers +" a").click(function(){removeElement("player-row-"+numPlayers); return false;});

							 changeChart();
		             	}

	             		
	             	
		             },
		             err:function(err1) {
		              console.log(err);
		             }
		        });





}

function removePlayer(element){

	if($('.player-wrap').length > 1){
		$('.player-wrap:last').remove();
	}
};

// function removePlayer(){

// 	if($('.player-wrap').length > 1){
// 		$('.player-wrap:last').remove();
// 	}
// };

function set_all_names(input_id){
	$.ajax({
		             type: 'POST',
		             beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
		             url: 'json_player_names',
		             data: {
		                "player_name": ""
		             },
		             success:function(data) {
		             	for(var i=0; i<data.length; i++){
		             		$(input_id).append("<option>"+data[i]+"<\/option>");
		             	}
		             	
		             	console.log(data);
	             	
		             },
		             err:function(err1) {
		              console.log(err);
		             }
		        });
}


function getGames(){
  year = $("#year-select select").val();

  cat = $('#graph-stat-1').val();

// Will need to change what categories are acceptable for game comparisons
  if(cat == "total_points")
  	cat = "points";

$.ajax({
                 type: 'POST',
                 beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                 url: '/json_games_arr',
                 data: {
                    "players": player_arr,
                    "stat": cat,
                    "year": year
                 },
                 success:function(data) {
                  console.log(data);
                  new Chartkick.LineChart("chart-1", data);

                  setChartTitle(data);
                
                 },
                 err:function(err1) {
                  console.log(err);
                 }
            });
  }


function compare(cat){

	$.ajax({
		             type: 'POST',
		             beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
		             url: 'json_seasons_arr',
		             data: {
		                "players": player_arr,
		                "stat": cat
		             },
		             success:function(data) {
		             	console.log(data);
		             	new Chartkick.LineChart("chart-1", data);
		         
		             	setChartTitle(data);

		             	lock = false;
		             },
		             err:function(err1) {
		              console.log(err);
		              lock = false;
		             }
		        });
      };

  function changeChart(){
  	// lock = true;
  	if(!isCareer()){
  		getGames();
  	}
  	else{
  	 var stat = $('#graph-stat-1').val();
  	 compare(stat);
  	}
  	 return false;
  };


 function setChartTitle(data){
 	var title=""
 	for(var i = 0; i< data.length; i++){
		$('#player-'+ i).val(data[i]['name']);
		title += data[i]['name'] + " vs ";
 	}

 	title = title.substring(0,title.length-3);
 	var rev_cats = <%=@stat_legend_json.to_s.html_safe%>;
 	var displayCategory = rev_cats[$('#graph-stat-1').val()]

 	if(isCareer())
 		displayCategory = "Career " + displayCategory
 	else{
 		displayCategory = $("#year-select select").val() + " " + displayCategory
 	}



 	$("#chart-title").html(displayCategory);

 	$("#chart-title-names").html(title);
  }

  function isCareer(){
  	return $("#career-button").hasClass("btn-info");
  }


  function loadPlayers(){
	compare('total_points');
  };

  function removeElement(id){
  	if (lock){
  		return;
  	}
  	// lock = true;
  		
  	id = "#"+id;
  	var playerName = $(id + " span").html();
  	player_arr.remove(playerName);

  	$(id).remove();

  	var playerNodes = $(".player-row");

  	for(var i=0; i< playerNodes.length; i++){
  		var id = "#"+playerNodes[i].id;
  		$(id).removeClass("even-player-row odd-player-row");

  		if(i%2==0){
  			$(id).addClass("even-player-row");
  		}
  		else{
  			$(id).addClass("odd-player-row");
  		}
  		var newID = "player-row-"+i;
  		var selector = "#"+newID+" a"

  		// $("#player-row-"+id+" a").off("click");

  		$(id).attr('id',newID);
  		$(selector).off("click");
  		//$(selector).click(function(){removeElement(newID); return false;});
  		var fun = "removeElement(\""+newID+"\")"
  		$(selector).attr("onclick",fun);
  		
  	}

  	changeChart();

  }

  $(window).ready(function(){
  	set_all_names("#plist");
  	$('#player-0').val("Antonio Brown");
  	$('#player-1').val("Julio Jones");
  	changeChart();

  	$("#player-row-0 a").click(function(){removeElement("player-row-0"); return false;});
  	$("#player-row-1 a").click(function(){removeElement("player-row-1"); return false;});


  	$('.form').submit(function () {
	 changeChart();
	 return false;
	});

	$("#player-col").height($(window).height()-50);
  });
</script>
<div style="height:100%;">
	<div class="col-sm-10" style="float:left;">

		<div class="col-sm-3">	
			<a onclick="changeToCareer()" id="career-button" class="btn btn-info btn-md left">Career</a>
			<a onclick="changeToYear()" id="year-button" class="btn btn-default btn-md left">Year</a>

			<div id="year-select" hidden="true" style="width:80px;">
				<select class="form-control" onChange="changeChart()" style="width:80px">
				  <option>2016</option>
				  <option>2015</option>
				  <option>2014</option>
				  <option>2013</option>
				  <option>2012</option>
				  <option>2011</option>
				  <option>2010</option>
				  <option>2009</option>
				  <option>2008</option>
				  <option>2007</option>
				  <option>2006</option>
				  <option>2005</option>
				  <option>2004</option>
				  <option>2003</option>
				  <option>2002</option>
				  <option>2001</option>
				</select>
			</div>
		</div>


		<div class="col-sm-6" >
			<h2 id="chart-title" style="text-align:center;font-weight:bold;">Category</h2>
			<h4 id="chart-title-names" class="subtitle" style="text-align:center;">Names</h4>
		</div>

		<div id="chart-1"></div>


		<div id="actions" class="col-sm-12">
			<a id="compare" onclick="changeChart()" class="btn btn-primary btn-md left">Compare</a>
			
			<select name="chart-select" class="form-control" id="graph-stat-1" onchange="changeChart()"> 
			    <option value="total_points"><%=@stat_legend['total_points']%></option>
			    <% @graphable.each do |stat| %>
			    <option value="<%=stat%>"><%=@stat_legend[stat]%></option>
			    <% end %>
			 </select>
		</div>



	</div>

	<div class="col-sm-2" id="player-col" style="float:right;height:100%;overflow:auto;">
		
		<!-- <ol>
		<% (1..50).each do |num| %>
			<li> Item: <%=num%></li>
		<%end%>
		</ol> -->

		<div id="player-rows">
			<datalist id="plist">
				</datalist>
			<div id="player-row-0" class="player-row even-player-row"> 
				<span class="graphed-player">Antonio Brown</span>
				<a class="btn btn-ex"> <i class="fa fa-times fa-2x ex-button"></i></a>
			</div>
			<div id="player-row-1" class="player-row odd-player-row"> 
				<span class="graphed-player">Julio Jones</span>
				<a class="btn btn-ex"> <i class="fa fa-times fa-2x ex-button"></i></a>
			</div>

		</div>

		<form class='form' onsubmit="addPlayer()" style="margin-top:7px;margin-left:3px">
			<input class="form-control" type="text" id="player-add" list="plist" placeholder="Add Player">
			<a class="btn btn-plus"><i class="fa fa-plus fa-2x plus-button" style="" onclick="addPlayer()"></i></a>
		</form>



		
		</div>


	</div>
</div>

	








