  
<div id="position-lists">
  <div class="row">
    <h1 class=text-center>Current Projections</h1>
  </br>
    <div id="rb-col" class="third">
      <h4>Running Backs</h4>
        <% @rbs.each do |player| %>
              <p><%=(@count+=1)%>. <%=link_to player.name, player%> <%=player.projected_points%> (<%=player.projected_ppg%> ppg) </p>
        <%end%>
    </div>
    <div id="qb-col" class="third">
      <h4>Quarterbacks</h4>
      <%@count = 0%>
        <% @qbs.each do |player| %>
        <p>
             <%=(@count+=1)%>. <%=link_to player.name, player%>  <%=player.projected_points%> (<%=player.projected_ppg%> ppg) 
           </p>
        <%end%>
    </div>
    <div id="wr-col" class="third">
      <h4>Wide Receivers</h4>
      <%@count = 0%>
        <% @wrs.each do |player| %>
            <p>
              <%=(@count+=1)%>. <%=link_to player.name, player%>  <%=player.projected_points%> (<%=player.projected_ppg%> ppg)
            </p>
        <%end%>
    </div>
  </div>

<div>
