  <div class="row">
    <h1 class=text-center>Current Projections</h1>
  </br>
    <div id="rb-col" class="col-sm-4 col-sm-offset-0">
        <% @rbs.each do |player| %>
          <div class="row">
              <span class="col-sm-7"><%=(@count+=1)%>. <%=link_to player.name, player%> (<%=player.position%>)</span>  <span class="col-sm-5"><%=player.projected_points%> (<%=player.projected_ppg%> ppg) </span>
          </div>
        <%end%>
    </div>
    <div id="qb-col" class="col-sm-4">
      <%@count = 0%>
        <% @qbs.each do |player| %>
          <div class="row">
              <span class="col-sm-7"><%=(@count+=1)%>. <%=link_to player.name, player%> (<%=player.position%>)</span>  <span class="col-sm-5"><%=player.projected_points%> (<%=player.projected_ppg%> ppg) </span>
            </div>
        <%end%>
    </div>
    <div id="wr-col" class="col-sm-4">
      <%@count = 0%>
        <% @wrs.each do |player| %>
          <div class="row">
              <span class="col-sm-7"><%=(@count+=1)%>. <%=link_to player.name, player%> (<%=player.position%>)</span>  <span class="col-sm-5"><%=player.projected_points%> (<%=player.projected_ppg%> ppg) </span>
            </div>
        <%end%>
    </div>
  </div>
