<script>
  $(document).ready(function() {
    new Chartkick.LineChart("chart-1",[ {"name":"Points",
            "data":{
              <%@player.org_seasons.each do |season|%>
                "<%=season.year%>": <%=season.total_points%>,
              <%end%>
            }
            }]);
  });

  function changeChart(data){
    <%@player.org_seasons.each do |season|%>
        $.ajax({
             type: 'POST',
             url: '/json_season',
             // data: {
             //    season_id: "<%=season.id%>"
             // },
             sucess:function(sucess) {
              alert('hi');
              alert(success);
             },
             err:function(err) {
              alert(err);
             }
        });
    <%end%>
  }
</script>

<div class="container player-show">
    <h1><%=@player.name%> - <%=@player.position%>, <%=@player.team%></h1>

    <h3><%=@player.age%> years old, <%=@player.weight%> lbs, Year <%=@player.experience%></h3>

  </br>

    <h1>Fantasy Points</h1>

    <h3>Career Averages: <%=@player.average_points%> per year : <%=(@player.average_points/16).round(1)%> ppg</h3>

    </br>
    <h2>Projections: <%=@player.projected_points%> (<%=@player.projected_ppg%> ppg)</h2>

      <div class="row">

        <div class="col-sm-5">
          <div class=" panel panel-info">
            <div class="panel-heading">
              <h3 class="text-center panel-title">Based on overall production and age</h3>
            </div>
            <div class="panel-body">
             <h4 class="text-center"><%=@poa%> points</h4>
             <h4 class="text-center"><%=(@poa/16).round(1)%> ppg</h4>
           </div>
         </div>
        </div>

      <div class="col-sm-6">
        <div class=" panel panel-info">
          <div class="panel-heading">
            <h3 class="text-center panel-title">Based on overall production and experience</h3>
          </div>
          <div class="panel-body">
           <h4 class="text-center"><%=@poe%> points</h4>
           <h4 class="text-center"><%=(@poe/16).round(1)%> ppg</h4>
         </div>
       </div>
      </div>


        <div class="col-sm-5">
          <div class=" panel panel-info">
            <div class="panel-heading">
              <h3 class="text-center panel-title">Based on last year's production and age</h3>
            </div>
            <div class="panel-body">
             <h4 class="text-center"><%=@pca%> points</h4>
             <h4 class="text-center"><%=(@pca/16).round(1)%> ppg</h4>
           </div>
         </div>
        </div>

        <div class="col-sm-6">
          <div class=" panel panel-info">
            <div class="panel-heading">
              <h3 class="text-center panel-title">Based on last year's production and experience</h3>
            </div>
            <div class="panel-body">
             <h4 class="text-center"><%=@pce%> points</h4>
             <h4 class="text-center"><%=(@pce/16).round(1)%> ppg</h4>
           </div>
         </div>
        </div>

      </div>
    </br>

  </br>

  <div id="chart-1"></div>

  <h1>Fantasy Point Breakdown</h1>

     <table class="table table-striped">
        <thead>
          <tr>
            <th>Year</th>
            <th>Games Played</th>
            <th>Points</th>
            <th>Points/Game</th>

            <th>Rushing Yards</th>
            <th>Rushing TD's</th>

            <th>Receiving Yards</th>
            <th>Receiving TD's</th>

            <th>Passing Yards</th>
            <th>Passing TD's</th>
            
          </tr>
        </thead>
        <tbody>
          <%@player.org_seasons.each do |season|%>
           <tr>
            <td><%=season.year%></td>
            <td><%=season.games_played%></td>

            <td><%= season.total_points %></td>
             <td><%=(season.total_points/season.games_played).round(1)%></td>

            <td><%= (season.rush_yards/10/season.total_points*100).round(1) %>%</td>
            <td><%= (season.rush_td*6/season.total_points*100).round(1) %>%</td>

             <td><%= (season.rec_yards/10/season.total_points*100).round(1) %>%</td>
            <td><%= (season.rec_td*6/season.total_points*100).round(1) %>%</td>

            <td><%= (season.pass_yards/25/season.total_points*100).round(1) %>%</td>
            <td><%= (season.pass_td*4/season.total_points*100).round(1) %>%</td>
          </tr>
        <%end%>
         
        </tbody>
      </table>

    <h1>Rushing</h1>

     <table class="table table-striped">
        <thead>
          <tr>
            <th>Year</th>
            <th>Games Played</th>
            <th>Rushing Yards</th>
            <th>Rushing Attempts</th>
            <th>Rushing TD's</th>
            <th>YPC</th>
          </tr>
        </thead>
        <tbody>
          <%@player.org_seasons.each do |season|%>
           <tr>
            <td><%=season.year%></td>
            <td><%=season.games_played%></td>
            <td><%=season.rush_yards%></td>
            <td><%=season.rush_attempts%></td>
            <td><%=season.rush_td%></td>
            <td><%=season.rush_avg%></td>
          </tr>
        <%end%>
         
        </tbody>
      </table>


      <h1>Receiving</h1>

     <table class="table table-striped">
        <thead>
          <tr>
            <th>Year</th>
            <th>Games Played</th>
            <th>Receiving Yards</th>
            <th>Receptions</th>
            <th>Receiving TD's</th>
            <th>YPC</th>
          </tr>
        </thead>
        <tbody>
          <%@player.org_seasons.each do |season|%>
           <tr>
            <td><%=season.year%></td>
            <td><%=season.games_played%></td>
            <td><%=season.rec_yards%></td>
            <td><%=season.receptions%></td>
            <td><%=season.rec_td%></td>
            <td><%=season.rec_avg%></td>
          </tr>
        <%end%>
         
        </tbody>
      </table>


      <h1>Passing</h1>

     <table class="table table-striped">
        <thead>
          <tr>
            <th>Year</th>
            <th>Games Played</th>
            <th>Passing Yards</th>
            <th>Passing Attempts</th>
            <th>Passes Completed</th>
            <th>Passing TD's</th>
            <th>YPP</th>
          </tr>
        </thead>
        <tbody>
          <%@player.org_seasons.each do |season|%>
           <tr>
            <td><%=season.year%></td>
            <td><%=season.games_played%></td>
            <td><%=season.pass_yards%></td>
            <td><%=season.pass_attempts%></td>
            <td><%=season.pass_complete%></td>
            <td><%=season.pass_td%></td>
            <td><%=season.pass_avg%></td>
          </tr>
        <%end%>
         
        </tbody>
      </table>

        <%@player.org_seasons.each do |season|%>
          <div class="col-sm-1">
            <h4><%= link_to season.year, season %></h4>
          </div>
        <%end%>
    
</div>
