<script>

  var stat_legend = {
    "total_points" : "Points",
    "games_played": "Games Played",
    "rush_attempts": "Rushing Attempts",
    "rush_yards": "Rushing Yards",
    "rush_avg": "Yards Per Carry",
    "rush_td": "Rushing TD's",
    "resceptions": "Receptions",
    "rec_yards": "Receiving Yards",
    "rec_avg": "Yards Per Catch",
    "rec_td": "Receiving TD's",
    "pass_attempts": "Pass Attempts",
    "pass_complete": "Passes Completed",
    "complete_pct": "Completion %",
    "pass_yards": "Passing Yards",
    "pass_td": "Passing TD's",
    "interceptions": "Interceptions",
    "rating": "Passer Rating",
    "fumbles": "Fumbles",
    "total_points": "Fantasy Points"

  };


  $(document).ready(function() {



    
    new Chartkick.LineChart("chart-1",[ {"name":"Fantasy Points",
            "data":{
              <%@player.org_seasons.each do |season|%>
                "<%=season.year%>": <%=season.total_points%>,
              <%end%>
            }
            }]);

  });

  function get_seasons(){
    return <%= raw @player.org_seasons.to_json%>;
  };

  function chartData(data){
    var seasons = <%= raw @player.org_seasons.to_json%>;

    var json_arr = {};

    for(var i = 0; i < seasons.length; i++){
      var year = seasons[i]['year'];
      var stat = seasons[i][data];

      json_arr[year] = stat;

    }
    return json_arr;
  };

    function compChartData(data){
    var seasons = <%= raw @player.org_seasons.to_json%>;

    var json_arr = {};

      <% @player.org_seasons.each do |season| %>
      var stats = <%=raw season.standard_stats.to_json%>
      var year = <%=season['year']%>;
      var stat = stats[data];

      json_arr[year] = stat;
      <% end %>
        return json_arr;
  };

  // function changeChart(data){

  //   var json_arr = chartData(data);
    

  //   console.log(json_arr);


  //   new Chartkick.LineChart("chart-1",[ {"name": stat_legend[data],
  //           "data": json_arr
  //           }]);

  // };

  function changeChart(){

    var stat1 = $('#graph-stat-1').val();
    var stat2 = $('#graph-stat-2').val();

    if(stat2 == 'none'){
      $('#standardized-message').hide();
       var json_arr = chartData(stat1);
       new Chartkick.LineChart("chart-1",[ {"name": stat_legend[stat1],
          "data": json_arr
          }]);
    }
    else{    
      $('#standardized-message').show();
    var json_arr1 = compChartData(stat1);
    var json_arr2 = compChartData(stat2);

    new Chartkick.LineChart("chart-1",[ {
            "name": stat_legend[stat1],
            "data": json_arr1
            },
            {
              "name": stat_legend[stat2],
              "data": json_arr2
            }
            ]);
    }



  };
</script>



<div class="container player-show">
    <h1><%=@player.name%> - <%=@player.position%>, <%=@player.team%></h1>

    <h3><%=@player.age%> years old, <%=@player.weight%> lbs</h3>

    <h3>Career Averages: <%=@player.average_points%> per year : <%=(@player.average_points/16).round(1)%> ppg</h3>


  <h2>Visualize</h2>


  <select name="chart-select" class="form-control" id="graph-stat-1" onchange="changeChart()"> 
    <option value="total_points"><%=@stat_legend['total_points']%></option>
    <% @graphable.each do |stat| %>
    <option value="<%=stat%>"><%=@stat_legend[stat]%></option>
    <% end %>
  </select>

  <div id='and'>And</div>

  <select name="chart-select" class="form-control" id="graph-stat-2" onchange="changeChart()"> 
    <option value="none">Nothing</option>
    <option value="total_points"><%=@stat_legend['total_points']%></option>
    <% @graphable.each do |stat| %>
    <option value="<%=stat%>"><%=@stat_legend[stat]%></option>
    <% end %>
  </select>

    <h4 id='standardized-message'>(These numbers are being standardized to better visualize trends)</h4>

  <div id="chart-1"></div>

  <h1>Fantasy Point Breakdown</h1>

     <table class="table table-striped">
        <thead>
          <tr>
            <th>Year</th>
            <th>Games Played</th>
            <th>Points</th>
            <th>Points/Game</th>

            <th>Rushing Yards</th>
            <th>Rushing TD's</th>

            <th>Receiving Yards</th>
            <th>Receiving TD's</th>

            <th>Passing Yards</th>
            <th>Passing TD's</th>
            
          </tr>
        </thead>
        <tbody>
          <%@player.org_seasons.each do |season|%>
           <tr>
            <td><%=season.year%></td>
            <td><%=season.games_played%></td>

            <td><%= season.total_points %></td>
             <td><%=(season.total_points/season.games_played).round(1)%></td>

            <td><%= (season.rush_yards/10/season.total_points*100).round(1) %>%</td>
            <td><%= (season.rush_td*6/season.total_points*100).round(1) %>%</td>

             <td><%= (season.rec_yards/10/season.total_points*100).round(1) %>%</td>
            <td><%= (season.rec_td*6/season.total_points*100).round(1) %>%</td>

            <td><%= (season.pass_yards/25/season.total_points*100).round(1) %>%</td>
            <td><%= (season.pass_td*4/season.total_points*100).round(1) %>%</td>
          </tr>
        <%end%>
         
        </tbody>
      </table>

    <h1>Rushing</h1>

     <table class="table table-striped">
        <thead>
          <tr>
            <th>Year</th>
            <th>Games Played</th>
            <th>Rushing Yards</th>
            <th>Rushing Attempts</th>
            <th>Rushing TD's</th>
            <th>YPC</th>
          </tr>
        </thead>
        <tbody>
          <%@player.org_seasons.each do |season|%>
           <tr>
            <td><%=season.year%></td>
            <td><%=season.games_played%></td>
            <td><%=season.rush_yards%></td>
            <td><%=season.rush_attempts%></td>
            <td><%=season.rush_td%></td>
            <td><%=season.rush_avg%></td>
          </tr>
        <%end%>
         
        </tbody>
      </table>


      <h1>Receiving</h1>

     <table class="table table-striped">
        <thead>
          <tr>
            <th>Year</th>
            <th>Games Played</th>
            <th>Receiving Yards</th>
            <th>Receptions</th>
            <th>Receiving TD's</th>
            <th>YPC</th>
          </tr>
        </thead>
        <tbody>
          <%@player.org_seasons.each do |season|%>
           <tr>
            <td><%=season.year%></td>
            <td><%=season.games_played%></td>
            <td><%=season.rec_yards%></td>
            <td><%=season.receptions%></td>
            <td><%=season.rec_td%></td>
            <td><%=season.rec_avg%></td>
          </tr>
        <%end%>
         
        </tbody>
      </table>


      <h1>Passing</h1>

     <table class="table table-striped">
        <thead>
          <tr>
            <th>Year</th>
            <th>Games Played</th>
            <th>Passing Yards</th>
            <th>Passing Attempts</th>
            <th>Passes Completed</th>
            <th>Passing TD's</th>
            <th>YPP</th>
          </tr>
        </thead>
        <tbody>
          <%@player.org_seasons.each do |season|%>
           <tr>
            <td><%=season.year%></td>
            <td><%=season.games_played%></td>
            <td><%=season.pass_yards%></td>
            <td><%=season.pass_attempts%></td>
            <td><%=season.pass_complete%></td>
            <td><%=season.pass_td%></td>
            <td><%=season.pass_avg%></td>
          </tr>
        <%end%>
         
        </tbody>
      </table>

<!--         <%@player.org_seasons.each do |season|%>
          <div class="col-sm-1">
            <h4><%= link_to season.year, season %></h4>
          </div>
        <%end%> -->
    
</div>
