<!DOCTYPE html>
<html>
  <head>
    <title>FantasyFootball</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application", "chartkick" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0 maximum-scale=1.0" />

    <script>
      function player_json(){
        $.ajax({
             type: 'POST',
             beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
             url: 'json_seasons',
             data: {
                "player_name": "brady"
             },
             success:function(success) {
              console.log(success);
             },
             err:function(err) {
              console.log(err);
             }
        });
      };
    </script>



  </head>
  <body>

    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">FF 2K15</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
         <li><a href="/compare_players">Compare Players</a></li>
      </ul>
<!--       <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        
      </form> -->


    <!--    <%= form_tag(action: "find_player", controller:'players', method: :post) do %>

       <div class="form-group">
        <input id="q" name="q" type="text" class="form-control" placeholder="Search">
      </div>
        <button type="submit" class="btn btn-default">Submit</button>
      <% end %> -->



        <form accept-charset="UTF-8" action="/application/find_player?method=post" method="post" class="navbar-form navbar-left">
          <div style="display:none">
            <input name="utf8" type="hidden" value="✓">
            <input name="authenticity_token" type="hidden" value="NkyffsUiE2PI4WNHPjnum9Bp2HpM2uzNK4I0esF9vlM="></div>
         <div class="form-group">
          <input id="q" name="q" type="text" class="form-control" placeholder="Player">
        </div>
          <button type="submit" class="btn btn-default">Search</button>
  </form>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class="container">



    <%= yield %>

    </div>
  </body>
</html>
