<!DOCTYPE html>
<html>
  <head>
    <title>FantasyFootball</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application", "chartkick" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0 maximum-scale=1.0" />
  </head>
  <body>

    <div class="container">

      <%= form_tag(action: "find_player", controller:'players', method: :post) do %>
        <%= label_tag(:q, "Search for player:") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>

      <%=link_to 'Home', players_path, class: "btn btn-primary btn-md"%>


    <%= yield %>

    </div>
  </body>
</html>
